html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


body {
	height: 100%;
	background: #f0f0f0;
	background: -moz-linear-gradient(top, #f0f0f0 0%, #f0f0f0 85%, #3d3737 85%, #3d3737 100%);
	background: -webkit-linear-gradient(top, #f0f0f0 0%,#f0f0f0 85%,#3d3737 85%,#3d3737 100%);
	background: -o-linear-gradient(top, #f0f0f0 0%,#f0f0f0 85%,#3d3737 85%,#3d3737 100%);
	background: -ms-linear-gradient(top, #f0f0f0 0%,#f0f0f0 85%,#3d3737 85%,#3d3737 100%);
	background: linear-gradient(to bottom, #f0f0f0 0%,#f0f0f0 85%,#3d3737 85%,#3d3737 100%);
}


.no-js body {
	overflow: auto;
	background: #f0f0f0;
}


.js .gr-gallery {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.container-tour {
	width: 100%;
	height: 100%;
	position: relative;
}

.gr-room {
	position: absolute;
	top: 0;
	width: 100%;
	height: 85%;
	text-align: center;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.gr-wall-main,
.gr-wall-other {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	background: #f0f0f0 url(images/wall.jpg) repeat 0px 0px;
}

.gr-wall-main {
	left: 0;
}

.gr-floor {
	position: absolute;
	top: 100%;
	left: 0;
	height: 30%;
	width: 100%;
	background-color: #111111;
}

.gr-gallery figure {
	position: absolute;
	-webkit-transform-style: preserve-3d;
}

.no-js .gr-gallery figure {
	display: inline-block;
	position: relative;
	margin: 20px;
}

.gr-gallery figure::before {
	content: '';
	position: absolute;
	width: 180%;
	height: 150%;
	top: -45%;
	left: -40%;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 23%, rgba(255,255,255,0) 66%);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 23%, rgba(255,255,255,0) 66%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 23%, rgba(255,255,255,0) 66%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 23%, rgba(255,255,255,0) 66%);
	pointer-events: none;
	opacity: 0.5;
}

.gr-gallery figure div,
.gr-gallery figure img,
.gr-gallery figcaption {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.gr-gallery figure div {
	position: relative;
	border: 10px solid #000;
	box-shadow: 0 10px 7px -5px rgba(0,0,0,0.3);
}

.gr-gallery figure img {
	display: block;
	margin: 0 auto;
	border: 20px solid #fff;
}

.gr-gallery figcaption {
	width: 80px;
	display: block;
	font-size: 5px;
	background: #fff;
	color: #444;
	padding: 5px;
	margin-top: 20px;
	position: relative;
	text-align: left;
	cursor: -webkit-zoom-in; 
	cursor: -moz-zoom-in;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #ccc;
}

.gr-gallery figcaption h2 span {
	display: inline-block;
	margin: 0 2px;
}

.gr-gallery figcaption div {
	display: none;
}

.gr-gallery nav {
	position: absolute;
	width: 300px;
	height: 38px;
	bottom: 6%;
	left: 50%;
	margin-left: -150px;
	z-index: 0;
	cursor: pointer;
}

.gr-gallery nav span {
	width: 90px;
	height: 100%;
	background: url(images/steps.png);
	float: left;
	text-indent: -100%;
	overflow: hidden;
	opacity: 0.6;
}

.gr-gallery nav span:hover {
	opacity: 1;
}

.gr-gallery nav span.gr-next {
	background-position: top right;
	float: right;
}

.gr-caption {
	position: absolute;
	width: 400px;
	height: 280px;
	padding: 40px;
	left: 50%;
	margin-left: -200px;
	bottom: 0;
	box-shadow: 0 -1px 3px rgba(0,0,0,0.3);
	-webkit-transform: translateY(310px);
	-webkit-transition: -webkit-transform .5s ease;
	-moz-transform: translateY(310px);
	-moz-transition: -moz-transform .5s ease;
	-o-transform: translateY(310px);
	-o-transition: -o-transform .5s ease;
	-ms-transform: translateY(310px);
	-ms-transition: -ms-transform .5s ease;
	transform: translateY(310px);
	transition: transform .5s ease;
	background-color: white;
	background-color: rgba(255, 255, 255, 1);
	font-family: "Montserrat", sans-serif;
}

.gr-caption-close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #ccc;
	width: 30px;
	height: 30px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	line-height: 16px;
	font-size: 14px;
	border: 1px solid #dbdbdb;
	border: 1px solid rgba(0, 0, 0, .2);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding: 4px;
}

.gr-caption-close:hover {
	color: #ed232a;
	color: rgba(237, 28, 36, 0.9);
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, .3);
	
}

.gr-caption h2 {
	border-bottom: 1px solid #ccc;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
	font-size: 20px;
}

.gr-caption > div {
	overflow: hidden;
	overflow-y: auto;
	max-height: 160px;

}

.gr-caption > div p {
	font-family: "Open Sans", sans-serif;
}

.gr-caption > div a {
	font-weight: 700;
	text-decoration: none;
	color: #ed232a;
	color: rgba(237, 28, 36, 0.9);
}

.gr-caption > div a:hover {
	color: #ed232a;
	color: rgba(237, 28, 36, 1);
}

/* Navigation */

.left-menu {
	position: absolute;
	z-index: 999999;
	top: 70px;
	left: 0px;
}

.left-menu #menu ul {
	background-color: #fff;
	text-align: center;
	padding: 15px 0px;
	width: 260px !important;
}
.left-menu #menu ul li {
	display: block;
	text-align: center;
	padding: 10px 0px;
	float:none;
	}
.left-menu #menu ul li a {
	font-family: "Montserrat", sans-serif;
text-decoration: none !important;
color: #111111 !important;
}
.logo.section {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	text-transform: uppercase;
	height: 171px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 5px 0px;
	background-color: #ed232a;
	background-color: rgba(237, 28, 36, 0.9);
 	width: 100%;
 	text-align: center;
        padding: 15px 5px;
}
.logo a {
	display: block;
margin-top: -3px;
}

#click {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: -60px;
	background: url('images/lines.png') #111111 no-repeat center center;
	cursor: pointer;
}

#nav.close {
	margin-left: -260px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}
#nav.open {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
	margin-left: 0px;
}