header .banner-info, .container-tour .logo.section { background-color:#222222;  background-color:rgba(34,34,34,0.9); }
.menu ul li a:hover{ border-bottom:2px solid #222222;  border-bottom:2px solid rgba(34,34,34,0.9);}
.overview p.quote{ border-left:10px solid #222222;  border-left:10px solid rgba(34,34,34,0.9);}
.iosSlider .slider .item a.img_wrapper .caption{ background-color:#222222;  background-color:rgba(34,34,34,0.95); }
.venue-section .section-title{ background-color:#222222;  background-color:rgba(34,34,34,0.9);}
.details_info{ background-color:#222222;  background-color:rgba(34,34,34,0.9);}
.custom-select select{ background:#222222;  background:rgba(34,34,34,0.7);}
.venue-section .pin_venue{  background:url("../images/pinmap-black.png") center center no-repeat;}
div.controls-sponsors, .cbp-bicontrols a{  background-image:url("../images/arrows-black.png"); }
div.controls-gallery{background:url("../images/arrows-black.png"); }
.gr-caption-close:hover, .gr-caption > div a:hover, .gr-caption > div a { color: #222222; color: rgba(34,34,34,0.9); }